# 公开 RenderStateShard 的 protected 常量 + LineStateShard 内部类
# 用途：自定义穿墙 LINES RenderType（光明末影之眼 / 光明指南针高亮渲染）
public net.minecraft.client.renderer.RenderStateShard f_110134_ # NO_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard f_110139_ # TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard f_110117_ # NO_LAYERING
public net.minecraft.client.renderer.RenderStateShard f_110123_ # MAIN_TARGET
public net.minecraft.client.renderer.RenderStateShard f_110115_ # COLOR_WRITE
public net.minecraft.client.renderer.RenderStateShard f_110110_ # NO_CULL
public net.minecraft.client.renderer.RenderStateShard f_110111_ # NO_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard$LineStateShard
